[phases.setup]
nixPkgs = ["proto", "openssl"]

[phases.install]
cmds = ["proto use", "pnpm i --frozen-lockfile"]

[phases.build]
cmds = [
    "mkdir -p /etc/nginx/conf.d",
    "cp ./nginx.conf /etc/nginx/nginx.conf",
    "pnpm run build",
]

[start]
# Command to start Nginx in the foreground
cmd = "nginx -g 'daemon off;'"
