[phases.setup]
nixPkgs = ["nodejs_22", "pnpm", "openssl", "nginx"]

[phases.install]
cmds = ["pnpm i --frozen-lockfile"]

[phases.build]
cmds = [
    "pnpm run build",
    "mkdir -p /etc/nginx/conf.d",
    "cp ./nginx.conf /etc/nginx/nginx.conf",
]

[start]
cmd = "nginx -c /etc/nginx/nginx.conf -g 'daemon off;'"
