[phases.setup]
nixPkgs = ["proto", "pnpm", "openssl", "nginx"]

[phases.install]
cmds = ["proto activate", "proto use", "pnpm i --frozen-lockfile"]

[phases.build]
cmds = [
    "pnpm run build",
    "mkdir -p /etc/nginx/conf.d",
    "cp ./nginx.conf /etc/nginx/nginx.conf",
]

[start]
# Command to start Nginx in the foreground
cmd = "nginx -c /etc/nginx/nginx.conf -g 'daemon off;'"
