---
const {
	entry: { data },
} = Astro.locals.starlightRoute;

const isAPIDoc = data.type === 'api-doc';
---
<div class="content-panel">
	<div class:list={["sl-container", isAPIDoc && "api-doc"]}><slot /></div>
</div>

<style>
	@layer starlight.core {
		.content-panel {
			padding: 1.5rem var(--sl-content-pad-x);
		}
		.content-panel + .content-panel {
			border-top: 1px solid var(--sl-color-hairline);
		}
		.sl-container:not(.api-doc) {
			max-width: var(--sl-content-width);
		}
        .sl-container.api-doc {
            max-width: none;
        }

		.sl-container > :global(* + *) {
			margin-top: 1.5rem;
		}

		@media (min-width: 72rem) {
			.sl-container {
				margin-inline: var(--sl-content-margin-inline, auto);
			}
		}
	}
</style>