---
import { getOrgWideContributors } from '~/util/nextContributors';
import FacePile from './FacePile.astro';

const contributors = await getOrgWideContributors('withstudiocms');
---

<div class="not-content">
	<FacePile contributors={contributors} />
</div>

<style>
	.not-content {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 0.5rem;
	}
</style>